# Install dependencies maintained by each tokenizer implementation.
-r BPE/requirements.txt
-r SentencePiece/requirements.txt
-r WordPiece/requirements.txt
-r ByteLevelBPE/requirements.txt
-r Unigram/requirements.txt
